%h1
  Transactions
  = link_to "Add transaction", new_transaction_path, class: "btn"

%span.label.label-success Total income: #{current_user.total_amount(:income)}
%span.label.label-important Total outcome: #{current_user.total_amount(:outcome)}

.pull-right
  = simple_form_for :date, url: transactions_path, method: 'get', html: { class: "form-inline" } do |f|
    = f.text_field :from, class: 'datepicker', placeholder: "from"
    = f.text_field :to, class: 'datepicker', placeholder: "to"
    = f.submit "Search"

%table.table.table-bordered
  %tr
    %th Kind
    %th Name
    %th Amount
    %th Created at

  - transactions.each do |transaction|
    %tr{class: kind_label(transaction)}
      %td= transaction.kind
      %td= transaction.name
      %td= signed_amount(transaction)
      %td= transaction.created_at.strftime("%d %b %Y %H:%M")

= paginate transactions

-if @per_day_data
  %h2 Transactions per day
  %chart{data: @per_day_data.to_json,
          xkey: 'date',
          ykeys: 'number_of_transactions',
          labels: 'test',
          type: 'bar'}
-if @balance_history_data
  %h2 Balance history
  %chart{data: @balance_history_data.to_json,
          xkey: 'data',
          ykeys: 'balance',
          labels: 'test',
          type: 'line'}
